<h1>Displaying the page</h1>
<p>
	name: <%= @sample.name %>
</p>
<p>
	description: <%= @sample.description %>
</p>

<%= link_to "Edit", edit_sample_path(@sample) %> |
<%= link_to "Back to Samples listing", samples_path %>